.header-project {
    max-width: 500px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.project-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 16px;
}

.project-flexbox .card {
    padding: 10px;
    margin: 0 10px 0 10px;
}

.project-flexbox .card img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.container p {
    max-width: 350px;
}

