* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    background-image: linear-gradient(50deg, #f1b5be 0%, var(--main-red) 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    color: white;
} 

main {
        background-color: var(--main-blue);
        background-image: linear-gradient(#6fb2ed, var(--main-blue));
        width: 100%;
        height: 100%;
        font-family: var(--common-font);
}

@media (min-device-width:280px) and (max-device-width: 480px) {

    header {
        max-width: 100vw;
        padding: 20px 30px 20px 50px ;
    }

    .project-title {
        font-size: 1rem;
    }

    .card .project-explanation {
        max-width: 80vw;
    }
}

/* javascript styling link */

/* give the desired answer's height when you click the title */
.project-flexbox .card .content-container.active .project-explanation {
    height: 95px;
}

/* change the project's size when you click and the desired amount of time to make the change  */
.project-flexbox .card .content-container.active .project-title {
    font-size: 20px;
    transition: .5s;
}

/* add a '-' sign after clicking the title and change the project's size when you click and the desired amount of time to make the change */
.project-flexbox .card .content-container.active .project-title::after {
    content: '-';
    font-size: 1rem;
    transition: .5s;
}

